@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", serif;
  overflow-x: hidden;
}

@layer utilites {
  .flex-row-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .category-text {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 600;
  }

  .flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-header {
    text-transform: uppercase;
    color:#d87d41;
    letter-spacing: 0.025em;
    font-weight: 700;
    font-size: .9em;
  }

  .radio-btn {
    height: 50px;
    padding-left: 0.75rem;
  }

  .summary-text {
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #00000080;
    font-size: 1em;
  }

  .summary-amounts {
    font-weight: 700;
    font-size: 1.2em;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
